# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Данные и модели (DVC управляет ими)
data/raw/churn.csv
artifacts/
models/

# НО! .dvc файлы должны коммититься в Git
!*.dvc
!data/raw/*.dvc

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# DVC cache (НЕ коммитим)
.dvc/cache/
.dvc/tmp/
/artifacts
